#menuu130{border-width:0px;
	border-color:transparent;
	background-color:transparent;
}
#home,#u141{
	background-color:transparent;
}
#u141:hover{
	background-color:#E7B1FF;
}
#u141:active{
	background-color:#9000DE;
}#home{
	border-width:0px;
	border-color:transparent;
	background-color:transparent;
	text-align:center;
	color:#FFFFFF;
	font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u131,#u132{
	background-color:transparent;
}
#u132:hover{
	background-color:#E7B1FF;
}
#u132:active{
	background-color:#9000DE;
}
#u133-4{
	border-width:0px;border-color:transparent;background-color:transparent;text-align:center;color:#FFFFFF;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
}
#container,#u177{
	background-color:transparent;
}
#u177:hover{
	background-color:#E7B1FF;
}
#u177:active{
	background-color:#9000DE;
}
#u141.MuseMenuActive,#u132.MuseMenuActive,#u177.MuseMenuActive{
	background-color:#662D91;
}
#contact{
	border-width:0px;border-color:transparent;background-color:transparent;text-align:center;color:#FFFFFF;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u141.MuseMenuActive #home p,#u132.MuseMenuActive #u133-4 p,#u177.MuseMenuActive #contact p{
	color:#FFFFFF;visibility:inherit;font-family:Helvetica, Helvetica Neue, Arial, sans-serif;}
.MenuItem{
	cursor:pointer;}
#u285{
	background-color:#93278F;
}#u285_align_to_page{
	max-width:960px;
}#u248-6,#u251-4{
	background-color:transparent;color:#FFFFFF;
}